name: Main Taski workflow

on:
  push:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
    - name: Ckeck out code
      uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.12
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools
        pip install ruff==0.15.0
    - name: Check code formatting (ruff)
      run: ruff format backend/ --check --diff
    - name: Run linting (ruff)
      run: ruff check backend/ --format=github
